body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color:cornsilk;
}
h1 {
    color: #333;
}
.carousel {
    margin: 20px auto;
    width: 400px;
    background: white;
    padding: 15px;
    border-radius: 10px;
}
.carousel img {
    width: 100%;
    border-radius: 10px;
}
.buttons button {
    margin: 10px;
    padding: 8px 15px;
    cursor: pointer;
}
.api-box {
    margin: 20px auto;
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
@media (max-width: 600px) {
    .carousel, .api-box {
        width: 90%;
    }

    h1 {
        font-size: 22px;
    }
}
